/* static/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #C2D9FF; /* Light background color */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px; /* Increased maximum width of the container for desktop */
    max-height: 700px;
    margin: 50px auto; /* Centering the container */
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensures padding is included in width */
}

h2 {
    text-align: center;
    color: #190482; /* Darker color for headings */
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px; /* Adjusted margin for better spacing */
    font-weight: bold;
    color: #7752FE; /* Use a color from the palette for labels */
}

input[type="date"],
input[type="time"],
input[type="number"],
input[type="text"],
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #8E8FFA; /* Lighter border color */
    border-radius: 4px;
    width: 100%; /* Full width for responsiveness */
    box-sizing: border-box; /* Ensures padding is included in width */
    font-size: 1em; /* Consistent font size */
    transition: border-color 0.3s; /* Smooth transition for border color */
}

input[type="date"],
input[type="time"] {
    background-color: #FFFFFF; /* Keep the background white for inputs */
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #7752FE; /* Change border color on focus to a palette color */
    outline: none; /* Remove default outline */
}

button {
    padding: 10px;
    background-color: #190482; /* Use a dark color for buttons */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Full width for responsiveness */
    font-size: 1em; /* Consistent font size */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

button:hover {
    background-color: #7752FE; /* Change background color on hover */
}

.alert {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
}

.alert-success {
    background-color: #d4edda; /* Keep success alert color */
    color: #155724; /* Keep success alert text color */
}

.alert-error {
    background-color: #f8d7da; /* Keep error alert color */
    color: #721c24; /* Keep error alert text color */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        margin: 20px; /* Reduce margin on smaller screens */
        padding: 15px; /* Adjust padding for smaller screens */
    }

    input[type="date"],
    input[type="time"],
    input[type="number"],
    input[type="text"],
    select,
    button {
        width: 100%; /* Ensure inputs and buttons take full width */
    }
}